In [52]:
#https://github.com/nealjean/predicting-poverty/blob/master/scripts/ProcessSurveyData.R
#https://github.com/nealjean/predicting-poverty/blob/master/scripts/Fig1.R

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import gdal
import utils

In [54]:
hh_data_2013=pd.read_csv("../Data/HH/WB/UGA_2013_UNPS_v01_M_CSV/agsec1.csv")

In [55]:
hh_data_2011_cons=pd.read_stata("../Data/HH/WB/UGA_2011_UNPS_v01_M_STATA/UNPS 2011-12 Consumption Aggregate.dta")[["HHID","welfare","poor"]]
hh_data_2011_coords=pd.read_stata("../Data/HH/WB/UGA_2011_UNPS_v01_M_STATA/UNPS_Geovars_1112.dta")[["HHID","lat_mod","lon_mod","urban"]]
#http://microdata.worldbank.org/index.php/catalog/2059/datafile/F70
hh_data_2011_weights=pd.read_stata("../Data/HH/WB/UGA_2011_UNPS_v01_M_STATA/GSEC1.dta")[["HHID","comm","mult"]]
hh_data_2011_assets=pd.read_stata("../Data/HH/WB/UGA_2011_UNPS_v01_M_STATA/GSEC9A.dta")[["HHID","h9q3","h9q4"]]

In [56]:
hh_data_2011=hh_data_2011_cons.merge(hh_data_2011_coords).merge(hh_data_2011_weights).merge(hh_data_2011_assets)

In [57]:
hh_data_2011["cons"] = hh_data_2011["welfare"]*118.69/(30*946.89*np.mean([66.68, 71.55]))

In [58]:
hh_data_2011.head()

,HHID,welfare,poor,lat_mod,lon_mod,urban,comm,mult,h9q3,h9q4,cons
0,1013000201,134629.437500,0.0,-0.530627,32.327492,Rural,10130002,1329.515991,2.0,Iron sheets,8.138813
1,1013000202,27919.814453,1.0,NaN,NaN,Rural,10130002,7844.594727,1.0,Iron sheets,1.687849
2,1013000204,39011.269531,0.0,-0.530627,32.327492,Rural,10130002,2659.031982,1.0,Iron sheets,2.358365
3,1013000206,66898.429688,0.0,0.289081,32.560650,Rural,10130002,891.622498,1.0,Iron sheets,4.044240
4,1013000210,112471.296875,0.0,-0.530627,32.327492,Rural,10130002,1624.854736,1.0,Iron sheets,6.799277

In [59]:
len(hh_data_2011["lat_mod"].unique())

644

In [60]:
len(hh_data_2011["comm"].unique())

320

In [61]:
hh_data_2011_cluster=hh_data_2011.groupby(["lat_mod","lon_mod"])[["cons","poor"]].agg(["mean","count"]).reset_index()

In [62]:
hh_data_2011_cluster.head()

    lat_mod    lon_mod      cons            poor
                            mean count      mean count
0 -1.467934  29.923145  2.801498     1  0.000000     1
1 -1.404995  29.949390  2.316352    12  0.250000    12
2 -1.380214  30.010633  2.361590     2  0.500000     2
3 -1.340851  29.768257  1.594851    11  0.545455    11
4 -1.255216  30.056820  3.852909    10  0.300000    10

In [63]:
hh_data_2011_cluster.columns=["gpsLatitude","gpsLongitude","cons","n","poor","n2"]

In [64]:
hh_data_2011_cluster_minHH=hh_data_2011_cluster[hh_data_2011_cluster["n"]>2]

In [65]:
hh_data_2011_cluster_minHH["poor_majority"]= np.where(hh_data_2011_cluster_minHH['poor']>=0.5, 1, 0)
hh_data_2011_cluster["poor_majority"]= np.where(hh_data_2011_cluster['poor']>=0.5, 1, 0)

/Users/pasquierjb/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [66]:
hh_data_2011_cluster_minHH.head()

   gpsLatitude  gpsLongitude      cons   n      poor  n2  poor_majority
1    -1.404995     29.949390  2.316352  12  0.250000  12              0
3    -1.340851     29.768257  1.594851  11  0.545455  11              1
4    -1.255216     30.056820  3.852909  10  0.300000  10              0
5    -1.241430     29.961166  2.776385   8  0.500000   8              1
8    -1.166219     29.794294  2.971421   7  0.142857   7              0

In [67]:
hh_data_2011_cluster_minHH["poor_majority"].describe()

count    309.000000
mean       0.258900
std        0.438741
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: poor_majority, dtype: float64

In [68]:
hh_data_2011_cluster.describe()

,gpsLatitude,gpsLongitude,cons,n,poor,n2,poor_majority
count,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000
mean,1.092666,32.301621,17.255239,4.245723,0.260105,4.245723,0.247278
std,1.186202,1.202996,300.837372,3.702145,0.349122,3.702145,0.431766
min,-1.467934,29.591431,0.550981,1.000000,0.000000,1.000000,0.000000
25%,0.323981,31.352619,2.038090,1.000000,0.000000,1.000000,0.000000
50%,0.721441,32.542141,3.094604,1.000000,0.000000,1.000000,0.000000
75%,2.141683,33.110289,5.089162,8.000000,0.449495,8.000000,0.000000
max,3.692567,34.857117,7594.117188,14.000000,1.000000,14.000000,1.000000

In [69]:
raster_file = '../Data/Satellite/NightLight/F182013.v4c_web.stable_lights.avg_vis.tif'
x_size, top_left_x_coords, top_left_y_coords, centroid_x_coords, centroid_y_coords, bands_data = utils.read_raster(raster_file)

In [70]:
def get_lon_idx(lon):
    lon_idx = np.where(top_left_x_coords < lon)[0][-1]
    return lon_idx
def get_lat_idx(lat):
    lat_idx = np.where(top_left_y_coords > lat)[0][-1]
    return lat_idx

In [71]:
hh_data_2011_cluster_minHH["i"]=hh_data_2011_cluster_minHH["gpsLongitude"].apply(get_lon_idx)
hh_data_2011_cluster_minHH["j"]=hh_data_2011_cluster_minHH["gpsLatitude"].apply(get_lat_idx)

/Users/pasquierjb/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/pasquierjb/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [72]:
hh_data_2011_cluster_minHH.to_csv("../Data/Intermediate_files/hh_data_2011_cluster_minHH.csv")